In [1]:
## Abstract method

In [2]:
from abc import ABC, abstractmethod

In [3]:
class employee(ABC):
    @abstractmethod
    def calculate_salary(self):
        pass
    @abstractmethod
    def details(self):
        pass

In [4]:
class employees(employee):
    def __init__(self):
        self.name=input('enter name')
        self.salary=int(input('enter salary'))
        self.pf=self.salary*0.20
        self.calculate_salary()
    def calculate_salary(self):
        self.net_salary=self.salary+self.pf
        print(self.net_salary)
    def details(self):
        print( f"name of employee is {self.name} and its salary is{self.net_salary}")

In [5]:
user1=employees()

enter name harsh
enter salary 675765

810918.0

In [6]:
user1.details()

name of employee is harsh and its salary is810918.0

In [7]:
## try except

In [8]:
a=int(input('num1'))
b=int(input('num2'))
print(a/b)

num1 0
num2 0

ZeroDivisionError: division by zero

In [13]:
try:
    a=int(input('num1'))
    b=int(input('num2'))
    print(a/b)
except(ZeroDivisionError):
    print('number can not be divided by zero')
except(ValueError):
    print('enter number only')
finally:
    print('program end successfully')

num1 gyg

enter number only
program end successfully

In [18]:
try:
    a=int(input('num1'))
except(ValueError):
    print('taking default numbers')
    a=0
try:
    b=int(input('num2'))
except(ValueError):
    print('taking default number')
    b=0
try:
    print('div',a/b)
except(ZeroDivisionError):
    print('can not be dicided by zero')
finally:
    print('mul',a*b)
    print('sum',a+b)

num1 12
num2 3

div 4.0
mul 36
sum 15